.traits-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 10px;
}

.trait-checkbox {
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;
}

.trait-checkbox input {
  cursor: pointer;
}

.customization-form {
  background-color: #FFFAD6;
}